.application--wrap {
  flex: 1 1 auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  background-color: #15202b;
}

.video-wrapper {
  height: 100%;
  margin-top: 0px;
  max-height: calc(100% - 0px);
  transform: translateX(0px);
  width: 300px;
  z-index: 10;
  position: fixed;
  transition: .2s cubic-bezier(.4,0,.2,1);
  transition-property: transform,width;
  transition: none;
  display: block;
  left: 0;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: auto;
  top: 0;
  will-change: transform;
  border-right: 1px solid #38444d;
}
.headerBoard {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  width: 100%;
}
.control-h2 {
  color: #fff;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", sans-serif;
}
.control-btn {
  background: transparent;
  border: none;
  outline: none;
}

.local-video-wrapper, .remote-video-wrapper {
  display: inline-block;
  padding: 15px;
}

.video-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 5px;
}
.video-avatar-img {
  border-radius: 50%;
  width: 50px;
  padding: 5px;
}
.video-avatar-info {
  display: inline-block;
  color: #fff;
  text-align: left;
  padding-left: 5px;
}
.video-avatar-info-name {
  font-size: 1.2rem;
  display: block;
}
.video-avatar-info-content {
  display: block;
  font-size: 0.9rem;
}

.video-content {
  width: 100%;
  display: inline-block;
  border-radius: 20px;
  -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
}

.content-hide {
  display: none;
}

.video-wrapper .status {
  color: greenyellow;
  text-align: center;
}


/* @media screen and (max-width: 480px) {
  .video-wrapper {
    position: relative;
    max-width: 100vw;
  }
  #localVideo {
    height: 80px;
  }
  #remoteVideo {
    width: 100%;
    height: auto;
    margin-top: 20%;
  }
}
@media screen and (orientation: landscape) {
  #localVideo {
    margin-left: 0px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 768px) {
  #localVideo {
    margin-left: 32px;
    margin-top: 12px;
  }
} */
